:host {
  background-color: #777;
  font-family: Arial, sans-serif;
}
header {
  background-color: #2196F3;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  .check {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    color: #ddd;
  }
}
main {
  padding: 20px;
}
